/*
 *
 * plexdeck
 *
 * Robert Shippey
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */

.MMM-plexdeck img.thumbnail {
	max-height: 2em;
	width: auto;
    margin-bottom: -13px;
}

.MMM-plexdeck .show {
	margin-left: 5px;
}
